module.exports = {
	core : {
		title: 'torijs',
		welcomeTitle: 'Hint & Tips',
		welcomeMessage: 'Welcome to torijs Admin dashboard!',
		welcomeSubtitle: 'Use sidebar fields in order to manage your infrastructure.',
		port: 8000,
		allowPublicUserRegistration: true,
		allowSendEmailAction: true,
		allowSendPushAction: true,
		secret: '878asdyggdysuaygdsa',
		expires: '2d'
	},
	database: {
		host: '192.168.99.100:32770',
		data: 'torijs_data_db',
		user: 'torijs_user_db'
	},
	mail: {
		smtp: {
			host: null,
			port: 25,
			secureConnection: true,
			auth: {
				user: '',
				pass: ''
			}
		},
		service: '',
		from: ''
	},
	apns: {
		keyFile: 'key.pem',
		certFile: 'cert.pem',
		debug: true
	},
	gcm: {
		keyPass: 'abc'
	}
}
