<% layout('layout') -%>

<div class="col-md-12">

	<div class="alert alert-danger alert-dismissable" id="errordivu" style="display:none;">
		<i class="fa fa-ban"></i>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">◊</button>
		<label id="erroru" class="control-label" for="inputError"></label>
	</div>
	
	<div class="alert alert-success alert-dismissable" id="okdiv" style="display:none;">
		<i class="fa fa-check"></i>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">◊</button>
		<label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> Action created!</label>
	</div>

  <div class="box box-primary">
    
    <div class="box-header">
      <h3 class="box-title">Add new Action</h3>
    </div>

    <form name="newAction" id="newAction" method="POST" action="">
      <div class="box-body">
        
        <div class="form-group">
          <label>Name</label>
          <div class="input-group">
            <input type="text" class="" id="name" name="name" class="form-control" />
          </div>
	</div>
        

        <div class="form-group">
          <label>Collection</label>
          <div class="input-group">
            <select name="collection" id="collection">
              <option></option>
            </select>
          </div>
        </div>

        <div class="form-group" style="display:none;" id="fieldDiv">
          <label>Field</label>
          <div class="input-group">
            <select name="field" id="field">
              <option></option>
            </select>
          </div>
        </div>

        <div class="form-group" style="display:none;" id="actionDiv">
          <label>Action</label>
          <div class="input-group">
            <select name="action" id="action">
              <option></option>
              <option value="email">Send Email</option>
              <!--option value="push">Send Push Notification</option-->
            </select>
	  </div>
        </div>

        
        <div class="form-group" style="display:none;" id="triggerDiv">
          <label>Trigger On</label>
          <div class="input-group">
            <select name="trigger" id="trigger">
              <option></option>
	            <option value="create">Create</option>
              <option value="edit">Edit</option>
            </select>
          </div>
        </div>


        <div class="form-group" style="display:none;" id="receiverDiv">
          <label>Receiver</label>
          <div class="input-group">
            <select name="receiver" id="receiver">
              <option></option>
              <option value="creator">Entry creator</option>
              <option value="editor">Entry editor</option>
              <option value="creatoreditor">Entry creator + Entry editor</option>
            </select>
          </div>
        </div>

        <div class="form-group" style="display:none;" id="filterDiv">
          <label>Filter</label>
          <div class="input-group">
            <select name="filter" id="filter">
              <option></option>
              <option value="value">Value change</option>
              <option value="to">Value change to</option>
              <option value="from">Value change from</option>
              <option value="fromto">Value change from...to</option>
            </select>
          </div>
        </div>

        <div class="form-group" style="display:none;" id="filterFromDiv">
          <label>From</label>
          <div class="input-group">
            <input class="form-control" id="from" name="from" placeholder="Initial Value" />
          </div>
        </div>

        <div class="form-group" style="display:none;" id="filterToDiv">
          <label>To</label>
          <div class="input-group">
            <input class="form-control" id="to" name="to" placeholder="Final Value" />
          </div>
        </div>
        
        <div class="form-group" style="display:none;" id="messageDiv">
        
        	<div id="message_1">
        
	          <label>Message #1</label>
            <br/>
            <small>Available tags:</small>
            <ul>
              <li>${ creator.param }</li>
              <li>${ item.param }</li>
              <li id="editortag" style="display:none;">${ editor.param }</li>
            </ul>
	          <div class="input-group">
	            <textarea id="message_1Msg" name="message"></textarea>
	          </div>
          
          </div>
          
          <button id="btn_addMsg" class="btn btn-default" type="button">Add other message</button><br/>
          
        </div>
        
        <div class="box-footer" style="text-align:center;">
          <button id="btn_sub" class="btn btn-primary" type="button">Create action</button>
        </div>

      </div>
    </form>

  </div>
  
</div>

<!-- Validation -->
<script type="text/javascript" src="/js/jquery.validate.js" ></script>

<script type="text/javascript">

$(document).ready(function() {

	// manage adding message box
	var nEl = 1;
 	
 	$('#btn_addMsg').on('click', function () {
 	
	 	var el = "message_"+ nEl;
	 	var elSuc = "message_"+ (nEl + 1);
	 	
	 	var inputTag = '\
	 		<div id="'+ elSuc +'">\
	          <label>Message #'+ (nEl + 1) +'</label>\
	          <div class="input-group">\
	            <textarea id="'+ elSuc +'Msg" name="message"></textarea>\
	          </div>\
          	</div>';
 	
 			$('#'+el).after(inputTag);
	 		
	 	nEl += 1;
 	
 	});		


  // populate the list of collection first
  $.ajax({
    type: "POST",
    url: "/permission/list.json",
    data: userAndToken,
    success: function(data, status){
        if(status == 'success'){
          
          $.each(data, function(collection){
            $('#collection').append($("<option />").attr('value', collection).text(collection));
          });
        }
    }
  });

  $('#collection').change(function() {
    
    var filterCollection = userAndToken
    
    filterCollection.query = { 
      'nome_collezione': $(this).val()
    };

    // check if the selected item is not the empty placeholder
    if($(this).val().length > 0){

      // populate the field list for the collection
      $.ajax({
        type: "POST",
        url: "/collection/torii_structure/documents.json",
        data: filterCollection,
        success: function(data, status){
          if(status == 'success'){
            
            var fields = data.aaData[0]["struttura"];
            
            // first remove all times from field
            $('#field').find('option').remove().end();
	    
	    // add first empty
	    $('#field').append($('<option />'));

            // then populate
            fields.forEach( function(field){
              $('#field').append($("<option />").attr('value', field.label).text(field.label));
              
            });

            // finally show the field div
            $('#fieldDiv').show();

          }
        }
      });
    }
  });

  $('#field').change(function() {

    if($(this).val().length > 0){
      $('#actionDiv').show();  
    }else{
      $('#actionDiv').hide();
    }

  });

  $('#action').change(function() {
    
    if($(this).val().length > 0){
      $('#triggerDiv').show();
    }else{
      $('#triggerDiv').hide();
    }

  });

  $('#receiver').change(function() {
    
    if($(this).val().length > 0){
      $('#filterDiv').show();
    }else{
      $('#filterDiv').hide();
    }

  });

  $('#trigger').change(function() {
    
    if ($(this).val() == 'edit') {
    
      $('#filterDiv').show();
      $('#receiverDiv').show();
      $('#editortag').show();  
    } else {
    
      $('#filterDiv').hide();
      $('#messageDiv').show();
      $('#filterToDiv').hide();
      $('#filterFromDiv').hide();
      $('#receiverDiv').hide();
      $('#editortag').hide();
    }

  });

  $('#filter').change(function() {
  
    $('#filterFromDiv').hide();
    $('#filterToDiv').hide();
  
    if($(this).val().length > 0){
      
      if($(this).val() == 'to'){
        $('#filterToDiv').show(); 
      }
      
      if($(this).val() == 'from'){
        $('#filterFromDiv').show();
      }

      if($(this).val() == 'fromto'){
        $('#filterToDiv').show();
        $('#filterFromDiv').show();
      }

      $('#messageDiv').show();

    }else{
      $('#messageDiv').hide();
    }
  
  });

  $('#btn_sub').on('click',function(){
      console.log('bottone');
      
      var messaggi = [];
 			
	  for (var i = 1; i <= nEl; i++) {
	 			
	 	var campoObj = {};
	 	var el = "#message_"+ i;	
	 	var msg = $(el+'Msg').val();
      
	 	messaggi.push(msg);
      
      }
      
      userAndToken.values = {
        name: $('#name').val(),
        collection: $('#collection').val(),
        field: $('#field').val(),
        receiver: $('#receiver').val(),
        action: $('#action').val(),
        trigger: $('#trigger').val(),
        filter: $('#filter').val(),
        message: messaggi
      };

      if($('#filter').val() == 'to'){
        userAndToken.values.to = $('#to').val();
      }

      if($('#filter').val() == 'from'){
        userAndToken.values.from = $('#from').val();
      }

      if($('#filter').val() == 'fromto'){
        userAndToken.values.from = $('#from').val();
        userAndToken.values.to = $('#to').val();
      }

      $.ajax({
        type: "POST",
	url: "/action/create",
	data: userAndToken,
	success: function( data, status) {
    $("html, body").animate({ scrollTop: 0 }, "slow");
    $('#okdiv').show();
	  $('#okdiv').html(data.message);
	},
	error: function ( req, status, error){
    $("html, body").animate({ scrollTop: 0 }, "slow");
 	  $('#errordivu').show();
	  $('#erroru').html(error);
	}
      });

  });


});
</script>
