<% layout('layout') -%>

<div class="col-md-12">

	<div class="alert alert-danger alert-dismissable" id="errordivu" style="display:none;">
		<i class="fa fa-ban"></i>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<label id="erroru" class="control-label" for="inputError"></label>
	</div>

	<div class="alert alert-success alert-dismissable" id="okdiv" style="display:none;">
		<i class="fa fa-check"></i>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> Import <b><%= req.params.collection_name %></b> completed!</label>
	</div>

	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Import <b><%= req.params.collection_name %></b></h3>
		</div><!-- /.box-header -->

		<!-- form start -->
		<form role="form" id="newuserform" method="POST" action="">
			<div id="form_campi" class="box-body">
				<div class="form-group">
					<label>Select your CSV File <b>*</b></label>
					<div class="input-group">
						<span class="input-group-addon">***</span>
						<input type="file" class="form-control" name="csv" id="file" placeholder="Set csv file password" required="required">
					</div>
				</div>
			</div><!-- /.box-body -->

			<!--div class="box-footer" style="text-align:center;">
				<button type="submit" class="btn btn-primary" id="btnSalva">Import <b><%= req.params.collection_name %></b></button>
			</div-->
		</form>

	</div>
</div>

<div class="col-md-12">
	<div class="box box-info">
		<div class="box-header">
			<i class="fa fa-bullhorn"></i>
			<h3 class="box-title">CSV File format</h3>
		</div><!-- /.box-header -->
		<div class="box-body">

			<div class="callout callout-info">
				<h4>Instructions</h4>
				<p>In order to import a CSV file you are needed to set the first row of the file with all these headers:</p>
				<code id="headerscsv"></code>
				<p>Followed by the relative data for each column, eg.</p>
				<code id="csvexample"></code>
			</div>

		</div><!-- /.box-body -->
	</div><!-- /.box -->
</div>

<script type="text/javascript" src="/javascripts/jquery.ajaxfileupload.js"></script>

<script type="text/javascript">
$( document ).ready(function() {
	
	var campi;
	var nome_collezione = '<%= req.params.collection_name %>';
	
	userAndToken["query"] = {"nome_collezione" : nome_collezione};

	
	// retrieve collections for menu
	$.ajax({
		type: "POST",
		url: "/collection/torii_structure/documents.json",
		data: userAndToken,
		success: function(data, status) {
			
			if(status == 'success') {
				
				//console.log(data);
				
				if(!data.aaData[0])
					location.href = '/admin';
				
				
				var campi = data.aaData[0]["struttura"];
				
				var html = '';
				
				var count = 1;
				
				var fakeData = '';
				
				campi.forEach(function(campo) { 
				
					html += campo["field_name"]+';';
					fakeData += count+';';
					count++;
					
				});
				
				$('#headerscsv').html(html.replace(/,(\s+)?$/, ''));

				$('#csvexample').html(html.replace(/,(\s+)?$/, '')+'<br/>'+fakeData.replace(/,(\s+)?$/, ''));
	
			}
		}
	});
	
	// upload file
	$('input[type="file"]').ajaxfileupload({
		'valid_extensions': ['csv'],
		'action': "/collection/"+ nome_collezione +"/import",
		'params': userAndToken,
		'onComplete': function(response) {
			console.log('custom handler for file:');
			alert('Risultato nel complete: '+ JSON.stringify(response));
		},
		'onCancel': function() {
			console.log('no file selected');
		}
	});
	
});
</script>
