<% layout('layout') -%>

<div id="boxRicercaMultipla">
	Search in &nbsp;<select name="fieldSearched" id="fieldSearched"><option></option></select><br/>
  <div id="optionSearched"></div>
</div>
<div style="clear: both;"></div>

<table id="tbCollection" class="table table-bordered table-striped" width="100%">
	<thead id="table_head">
		
	</thead>
	<tbody id="table_body">
		
	</tbody>
	<tfoot id="table_foot">
		
	</tfoot>
</table>

<!-- DATA TABES SCRIPT -->
<script src="/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script src="/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>

<script src="/js/jquery.dataTables.columnFilter.js" type="text/javascript"></script>


<!-- Struttura app -->
<script type="text/javascript">

$( document ).ready(function() {

	var table;
	var queryDataTablesCampo = null;
	var queryDataTablesRicerca = [];

	// check session
	if(!$.cookie('toriijs')){
		location.href = '/auth/login';
	}
	
	var nome_collezione = '<%= req.params.collection_name %>';
	
	userAndToken["query"] = {"nome_collezione" : nome_collezione}; 
		
	// retrieve collections for menu
	$.ajax({
		type: "POST",
		url: "/collection/torii_structure/documents.json",
		data: userAndToken,
		success: function(data, status) {
			
			if(status == 'success') {
				
				if(!data.aaData[0])
					location.href = '/admin';
				
				var campi = data.aaData[0]["struttura"];
				
				var html_head = '<tr>';
				var html_body = '<tr>';
				
				var lab = [];
				
				// first remove all times from field
        $('#fieldSearched').find('option').remove().end();
        // add first empty
	    	$('#fieldSearched').append($('<option />'));
				
				// check if there is at least one select
				var ifSelect = false;
				
				campi.forEach(function(campo) { 
				
					html_head += '<th>'+ campo["label"] +'</th>' ;
					html_body += '<td></td>';
					
					lab.push({mData : campo["field_name"], "bSearchable": true, "bRegex": true });
					
					// Select della search
					if(campo["tipo"] == "select") {
						
						$('#fieldSearched').append($("<option id=\"opt_"+ campo["field_name"] +"\" data-checkB=\""+ campo["option"] +"\" />").attr('value', campo["field_name"]).text(campo["label"]));
						
						ifSelect = true;
							
					}
					
				})
				
				if(!ifSelect) {
					
					$('#boxRicercaMultipla').remove();
					
				}
				
				lab.push({ mData: "_id", mRender: function(data, type, item) { return '<a href="/admin/'+ nome_collezione +'/'+item._id+'/edit" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-danger" data-codice="'+item._id+'">Delete</a>'; }});
				
				html_head += '<th>Actions</th></tr>';
				html_body += '<td></td></tr>';
				
				$('#table_head').html(html_head);
				$('#table_body').html(html_body);
				$('#table_foot').html(html_head);
				
				// preparo la tabella
				table = $('#tbCollection').DataTable({
				
					
          bServerSide: true,
					bProcessing: true,
					bDeferRender: true,
					bSort: false,
          sAjaxSource: "/collection/"+ nome_collezione +"/documents.json",
					ajax: {
						url: "/collection/"+ nome_collezione +"/documents.json",
						type: "POST"
					},
					fnServerData: function (sSource, aoData, fnCallback) {
						
						aoData.push( { 
							name: 'username',
							value: splits[0] 
						});
						
						aoData.push( { 
							name: 'token',
							value: splits[1] 
						});
						
						if(queryDataTablesCampo) {
							
							aoData.push ({
							
								name: 'queryDataTablesCampo',
								value: queryDataTablesCampo
							
							});
							
							aoData.push ({
							
								name: 'queryDataTablesRicerca',
								value: queryDataTablesRicerca
							
							});
							
						}
									
						$.ajax({
							dataType: 'json',
              type: "POST",
							url: sSource,
							data: aoData,
							success: fnCallback
						});
						
					},
					aoColumns: lab,
					fnDrawCallback : function ( oSettings ) {
						
						// Rimuovo il documento
						$(".btn-danger").click(function(){
						
							var r = confirm("Attenzione , desideri cancellare il documento ? Questa azione è irreversibile");
							
							if (r == true) {
				  
								// Recupero il nome del documento
								var id_doc = $(this).data("codice");
						
								$.post('/collection/'+ nome_collezione +'/'+ id_doc +'/delete', userAndToken, function(res) {
					 		
									table.ajax.reload();
					 		
								});
							
							} else {}
						
							// TODO: only admin user can remove
							
							// TODO: i can't remove myself
						
						}); 
					
					}
				
				}); 
				
			}
		},
		error: function(req, status, error){
			$('#errordiv').show();
			$('#error').html('<i class="fa fa-times-circle-o"></i> '+error);
		}
		
	});
	
	$('#fieldSearched').on('change', function() {
  	
  	var id_opt = '#opt_'+ $(this).val();
  	
  	var optionsC = $(id_opt).data('checkb').split("\n");
  	
  	var i = 0;
  	
  	$('#optionSearched').empty();
  	
  	optionsC.forEach(function(opt) { 
							
			$('#optionSearched').append("<div class=\"opt_general\"><input type=\"checkbox\" id=\"check_"+ i +"\" value=\"" + opt + "\" ><label>"+ opt +"</label></input></div>");
									
			i++;
									
		})
		
		$('#boxRicercaMultipla').height( 25 + 25 * (i/2) + 25 * (i%2));
		
		$('.opt_general').on('click', function() {
		
			//Recupero il field selezionato
			var id_opt = '#opt_'+ $('#fieldSearched').val();
	  	
	  	var optionsC = $(id_opt).data('checkb').split("\n");
			
			var i = 0;
			var strSrc = "";
			
			queryDataTablesRicerca = [];
			queryDataTablesCampo = $('#fieldSearched').val();
	  	
	  	optionsC.forEach(function(opt) { 
				
				if($('#check_'+ i).is(':checked'))
					queryDataTablesRicerca.push($('#check_'+ i).val());
					
				i++;
			
			});
			
			var tableApi = $('#tbCollection').dataTable().api();
			
			tableApi.ajax.reload();

		});

	});

	$('#removeAll').on('click', function(){
		
		var r = confirm("Attenzione , desideri cancellare tutti i documenti ? Questa azione è irreversibile");
							
							if (r == true) {
				  
								// Recupero il nome del documento
								var id_doc = $(this).data("codice");
						
								$.post('/collection/'+ nome_collezione +'/delete_all', userAndToken, function(res) {
					 		
									table.ajax.reload();
					 		
								});
							
							} else {}
		
	});

	$('#checkUpdate').on('click', function() {
				
		userAndToken["last_update"] = new Date().getTime(); 
						
		$.post('/collection/'+ nome_collezione +'/hasupdate', userAndToken, function(res) {
					 		
			alert(JSON.stringify(res));
					 		
		});

		
	});

});
</script>
