<% layout('layout') -%>



<table id="tbCollection" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</tfoot>
</table>

<!-- DATA TABES SCRIPT -->
<script src="/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script src="/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>


<!-- Struttura app -->
<script type="text/javascript">

$( document ).ready(function() {
	
	// check session
	if(!$.cookie('toriijs')){
		location.href = '/auth/login';
	}
	
	var table = $('#tbCollection').DataTable({
		
		bServerSide: true,
		bProcessing: true,
		bDeferRender: true,
		bSort: false,
        sAjaxSource: "/collection/list.json",
		ajax: {
			url: "/collection/list.json",
			type: "POST"
		},
		fnServerData: function (sSource, aoData, fnCallback) {
			
			aoData.push( { 
				name: 'username',
				value: splits[0] 
			});
			
			aoData.push( { 
				name: 'token',
				value: splits[1] 
			});
					
			$.ajax({
				dataType: "json",
                type: "POST",
				url: sSource,
				data: aoData,
				success: fnCallback
			});
			
		},
		aoColumns: [
			{ mData: 'name' },
			{ mData: 'name', mRender: function(data, type, item) { 
				return '<a href="#" class="btn btn-danger" data-nome="'+item.name+'">Rimuovi</a>'; }
			}
		],
		fnDrawCallback : function ( oSettings ) {
			
			// Rimuovo la collection
			$(".btn-danger").click(function(){
			
				var txt;
				var r = confirm("Warning, are you sure you want to remove the collection? This operation is irreversible.");
				
				if (r == true) {
   
					// Recupero il nome della collection e lo 'pulisco togliendo il nome del db'
			
					var nome = $(this).data("nome");
			
					$.post('/collection/'+ nome +'/delete', userAndToken, function(res) {
		 		
						location.href = location.href;
		 		
					});
				
				} else {}
			
				// TODO: only admin user can remove
				
				// TODO: i can't remove myself
			
			}); 
			
		}
	}); 


});
</script>
