<% layout('layout') -%>

<div class="col-md-12">
	<div class="box box-info">
		<div class="box-header">
			<i class="fa fa-bullhorn"></i>
			<h3 class="box-title"><%= welcomeTitle %></h3>
		</div><!-- /.box-header -->
		<div class="box-body">

			<div class="callout callout-info">
				<h4><%= welcomeMessage %></h4>
				<p><%= welcomeSubtitle %></p>
			</div>

		</div><!-- /.box-body -->
	</div><!-- /.box -->
</div>
