<% layout('layout') -%>

<div class="col-md-12">
	
	<div class="alert alert-danger alert-dismissable" id="errordivu" style="display:none;">
		<i class="fa fa-ban"></i>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<label id="erroru" class="control-label" for="inputError"></label>
	</div>
	
	<div class="alert alert-success alert-dismissable" id="okdiv" style="display:none;">
		<i class="fa fa-check"></i>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> New item for collection <b><%= req.params.collection_name %></b> created!</label>
	</div>
	
	<div class="alert alert-warning alert-dismissable" id="AlertMsgDiv" style="display:none;">
		<i class="fa fa-check"></i>
		
	</div>
		
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Add new <b><%= req.params.collection_name %></b></h3>
		</div><!-- /.box-header -->
		
		<!-- form start -->
		<form role="form" id="newuserform">
			<div id="form_campi" class="box-body">
				<!-- Campi aggiunti tramite ajax -->
			</div><!-- /.box-body -->

			<div class="box-footer" style="text-align:center;">
				<button type="submit" class="btn btn-primary" id="btnSalva">Add new <b><%= req.params.collection_name %></b></button>
			</div>
		</form>
		
	</div>
</div>

<!-- Validation -->
<script type="text/javascript" src="/js/jquery.validate.js" ></script>

<script type="text/javascript">
$( document ).ready(function() {

	var fields;
	var nome_collezione = '<%= req.params.collection_name %>';
	
	var mailActions = [];
	
	userAndToken["query"] = {
    'nome_collezione': nome_collezione
  };
	
	// retrieve collections for menu
	$.ajax({
		type: "POST",
		url: "/collection/torii_structure/documents.json",
		data: userAndToken,
		success: function(data, status) {
			
			if(status == 'success') {
				
				fields = data.aaData[0]["struttura"];
				
				var html = '';
				
				fields.forEach(function(campo) { 
					
					if (campo.tipo == "string") {
					
						html += '\
							<div class="form-group">\
								<label>'+ campo.label +'</label>\
								<div class="input-group">\
									<span class="input-group-addon">#</span>\
									<input type="text" class="form-control" name="field_'+ campo.field_name +'" id="field_'+ campo.field_name +'" placeholder="Set '+ campo.label +'" required="required">\
								</div>\
							</div>';
					}
					
					if (campo.tipo == "file") {
					
						html += '\
							<div class="form-group">\
								<label>'+ campo.label +'</label>\
								<div class="input-group">\
									<span class="input-group-addon">#</span>\
									<input type="file" class="form-control" name="field_'+ campo.field_name +'" id="field_'+ campo.field_name +'" placeholder="Set '+ campo.label +'" required="required">\
								</div>\
							</div>';
					}
					
					if (campo.tipo == "select") {
						
						html += '\
						<div class="form-group">\
							<label>'+ campo.label +'</label>\
							<div class="input-group">\
								<select class="form-control" name="field_'+ campo.field_name +'" id="field_'+ campo.field_name +'">\
									<option></option>';
									
									campo.option.split("\n").forEach(function(opt){
										
										
										html += '<option value="'+opt+'">'+opt+'</option>'
										
									})
									
						html +='</select>\
							</div>\
						</div>'
						
					}
					
					if (campo.tipo == "selectcollection") {
						
						html += '\
						<div class="form-group">\
							<label>'+ campo.label +'</label>\
							<div class="input-group">\
								<select class="form-control" name="field_'+ campo.field_name +'" id="field_'+ campo.field_name +'">\
									<option></option>\
								</select>\
							</div>\
						</div>'
						
						var collectionName = campo.option.split('.')[0]
						var userAndTokenCollection = userAndToken
						delete userAndTokenCollection.query	
						
						// populate select according option value
						$.ajax({
							type: "POST",
							url: "/collection/"+collectionName+"/documents.json",
							data: userAndTokenCollection,
							success: function(data, status) {
			
								if(status == 'success') {
				
									//console.log(data)
										
									var options = '';
									
									data.aaData.forEach(function(el){
										options += '<option>'+el[campo.option.split('.')[1]]+'</option>'
									})
									
									
									$('#field_'+campo.field_name).append(options)
									
								}
							}
						})
						
					}
					
				})
				
				$('#form_campi').html(html);

			}
		}
	});

	$("#newuserform").validate({
		rules: {
		  password: "required",
		  retypepassword: {
			equalTo: "#password"
		  }
		},
		submitHandler: function(form) {

			var valori = {};

			fields.forEach(function(campo) { 

				valori[campo["field_name"]] = $('#field_'+campo["field_name"]).val();

			})

			userAndToken["valori"] = valori;

			$.ajax({

				type: "POST",
				url: "/collection/"+ nome_collezione +"/insert",
				data: userAndToken,
				success: function( data, status) {

					$('#okdiv').show();
					$('#okdiv').html(data.message);
					
					var html = '';
					var idMsg = 1;

					if (data.actions) {
						
						data.actions.forEach(function(action) {
						
							mailActions.push(action);
						
							html += '\
							<div class="form-group">\
								<label>'+ action.subject +'</label>\
								<div class="input-group">\
									<select class="form-control" name="alw" id="selMsg_'+ idMsg +'">';
										
							action.text.forEach(function(el) {
							
								html += '<option>'+el+'</option>';
								
							})	

							html += '\
									</select>\
								</div>\
							</div>';
							
							idMsg += 1;

						});
						
					  html += '<button type="submit" class="btn btn-primary" id="btnSendMail">Send</b></button>';

					  $('#AlertMsgDiv').append(html);
					  $('#AlertMsgDiv').show();
          }
				},
				error: function (req, status, error) {
				
					$('#errordivu').show();
					$('#erroru').html(error);
					
				}
				
			});

		}
	});
	
	$(document).on('click', "#btnSendMail", function() { 

		var idM = 1;
		
		mailActions.forEach(function(action) {
		
			action["text"] = $("#selMsg_"+ idM +" option:selected").text();
		
			idM += 1;
			
		});
		
		userAndToken["mailActions"] = mailActions;
		
		$.ajax({

			type: "POST",
			url: "/action/sendmail",
			data: userAndToken,
			success: function(data, status) {
				
				alert(JSON.stringify(data));
				
			}
				
		});
		
	});

});
</script>
