<% layout('layout') -%>

<table id="roleTable" class="table table-bordered table-striped" width="100%">
	<thead>
		<tr>
			<th>name</th>
			<th>collectionName</th>
			<th>field</th>
			<th>action</th>
			<th>trigger</th>
			<th style="width: 184px;">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>name</th>
			<th>collectionName</th>
			<th>field</th>
			<th>action</th>
			<th>trigger</th>
			<th>Action</th>
		</tr>
	</tfoot>
</table>

<!-- DATA TABES SCRIPT -->
<script src="/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script src="/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>

<!-- Struttura app -->
<script type="text/javascript">

$( document ).ready(function() {
	
	// check session
	if(!$.cookie('torijs')){
		location.href = '/auth/login';
	}

	// populate table
	var table = $('#roleTable').DataTable({
		
		//bServerSide: true,
		bProcessing: true,
		bDeferRender: true,
		bSort: false,
        sAjaxSource: "/action/list.json",
		ajax: {
			url: "/action/list.json",
			type: "POST"
		},
		fnServerData: function (sSource, aoData, fnCallback) {
			
			aoData.push( { 
				name: 'username',
				value: splits[0] 
			});
			
			aoData.push( { 
				name: 'token',
				value: splits[1] 
			});
						
			$.ajax({
				dataType: 'json',
                type: "POST",
				url: sSource,
				data: aoData,
				success: fnCallback
			});
		},
		
		aoColumns: [
			{ 
				mData: 'name',
				mRender: function(data, type, item) { 
					return item.name; 
				}
			},
			{ 
				mData: 'collectionName',
				mRender: function(data, type, item) { 
					return item.collectionName; 
				}
			},
			{ 
				mData: 'field',
				mRender: function(data, type, item) { 
					return item.field; 
				}
			},
			{ 
				mData: 'action',
				mRender: function(data, type, item) { 
					return item.action; 
				}
			},
			
			{ 
				mData: 'trigger',
				mRender: function(data, type, item) { 
					return item.trigger; 
				}
			},
			
			{ 
				mData: '_id', 
				mRender: function(data, type, item) { 
					return '<a href="/admin/action/'+item._id+'/edit" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-danger" data-codice="'+item._id+'">Remove</a>'; 
				}
			}
		],
		fnDrawCallback : function ( oSettings ) {
			
			// remove user
			$(".btn-danger").click(function(){
			
				var txt;
				var r = confirm("Warning , do you confirm to remove user? This operation is irreversible!");
				
				if (r == true) {
					
					var id = $(this).data("codice");
					
					$.ajax({
						type: "POST",
						url: '/action/remove',
						data: {
							actionid: id,
							username: splits[0],
							token: splits[1]
						},
						success: function (data, status){
							location.reload();
						},
						error: function (req, status, error){
              $("html, body").animate({ scrollTop: 0 }, "slow");
							$('#errordiv').show();
							$('#error').html('<i class="fa fa-times-circle-o"></i> '+error);
						}
					});
					
				
				} else {}
			
			
			}); 
			
		}
	});

});
</script>
