<% layout('layoutLogin') -%>

<div class="form-box" id="login-box">

	<div class="header"><%= toriTitle ? toriTitle : 'tori.js'%></div>
	<form name="regForm" ng-controller="LoginController as login" ng-submit="regForm.$valid && login.registerUser()" novalidate>

		<div class="body bg-gray">
			
			<div class="form-group has-error" id="errordiv" ng-show="login.error">
				<label id="error" class="control-label" for="inputError">Error: {{login.error}}</label>
			</div>
			
			<div class="form-group has-success" id="okdiv" ng-show="login.success">
				<label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> Registration completed! Proceed to <a href="/auth/login">Login</a></label>
			</div>
			
			<div class="form-group">
				<input type="email" ng-model="login.username" class="form-control" placeholder="Email Address" required/>
			</div>
			
			<div class="form-group">
				<input type="password" ng-model="login.password" class="form-control" placeholder="Password" required/>
			</div>
			
			<div class="form-group">
			    <input type="password" ng-model="login.retypepassword" class="form-control" placeholder="Retype Password" required/>
			</div>           

		</div>

		<div class="footer">                                                               
			<button type="submit" class="btn bg-olive btn-block" id="register">Sign me up</button>
			<a href="/user/login">I'm already registered!</a>                       
		</div>
	</form>
</div>
