<% layout('layoutLogin') -%>

<div class="form-box" id="login-box">

	<div class="header"><%= toriiTitle ? toriiTitle : 'Torii.js'%></div>
	<form id="loginform">

		<div class="body bg-gray">

			<div class="form-group has-error" id="errordiv" style="display:none;">
				<label id="error" class="control-label" for="inputError"></label>
			</div>

			<div class="form-group">
				<input type="email" id="username" class="form-control" placeholder="Email Address" required/>
			</div>

			<div class="form-group">
				<input type="password" id="password" class="form-control" placeholder="Password" required/>
			</div>

			<div class="form-group">
				<img src="/captcha.png" >
			</div>

			<div class="form-group">
				<input type="text" id="captcha" class="form-control" placeholder="Captcha" required/>
			</div>

		</div>

		<div class="footer">
			<button type="submit" class="btn bg-olive btn-block" id="login">Sign me in</button>
			<% if (toriiAllowPublicRegistration) { %>
				<a href="/auth/register">Not yet registered?</a>
			<% } %>
		</div>
	</form>
</div>

<script type="text/javascript">
$( document ).ready(function() {

	$("#loginform").validate({
		submitHandler: function(form) {

			$.ajax({
				type: "POST",
				url: "/auth/login",
				data: {
					username: $('#username').val(),
					password: $('#password').val(),
					captcha: $('#captcha').val()
				},
				success: function( data, status) {

					if(status == 'success' && data.name == $('#username').val() && data.token){

						$.cookie('toriijs', data.name+'|'+data.token+'|'+data.id, { path: '/' });

						location.href="/admin";

					}else{
						$('#errordiv').show();
						$('#error').html('<i class="fa fa-times-circle-o"></i> Login error, please notify MMN this problem');
					}
				},
				error: function ( req, status, error){
					$('#errordiv').show();
					$('#error').html('<i class="fa fa-times-circle-o"></i> '+error);
				}
			});

		}
	});

});
</script>
